/******* Variables *******/
:root {

    --header-height: 100px;
}


/******* Resets *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******* Generics *******/
body {
    font-family: 'PT Sans', sans-serif;
    padding-top: var(--header-height);
}

p {
    margin-bottom: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}


/******* Utils *******/
/* Misc */
.container {
    padding: 3rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}


/******* Layout *******/
/* Flex Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.row > * {
    padding: 0 1rem;
}

.col {
    flex-basis: 100%
}


/*
.col-33 {
    flex-basis: calc(100% / 3);
}

.col-40 {
    flex-basis: 40%;
}

.col-60 {
    flex-basis: 60%;
}

.col-66 {
    flex-basis: calc(100% / 3 * 2);
}
*/

/******* Debug *******/
.db-border {
    border: 2px dashed #fff;
}

.db-blue {
    background-color: blue;
}

.db-red {
    background-color: red;
}

.db-yellow {
    background-color: rgb(130, 130, 15);
}

.db-gray {
    background-color: gray;
}

.db-cyan {
    background-color: cyan;
}

.db-h-md {
    min-height: 500px;
}

.db-h-sm {
    min-height: 200px;
}


/* ====================================== */
/******* Buttons *******/
.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    
    padding: 6px 12px;
    color: #000;
    background-color: transparent;
}


/******* Header *******/
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: var(--header-height);
}


/******* Navbar *******/
.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 2rem;
}

.navbar > * {
    display: flex;
    align-items: center;
}

/* Navbar Menu */
.navbar-menu {
    display: none;
}

/* Navbar Actions */
.navbar-actions {
    display: none;
}

/* Media LG */
@media screen and (min-width: 992px) {
    /* Navbar Menu */
    .navbar-menu {
        align-self: stretch;
        display: flex;
    }

    .navbar-menu a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
    }
    
    /* Navbar Actions */
    .navbar-actions {
        display: flex;
    }

    /* Navbar Toggler */
    .navbar-menu-toggler {
        display: none;
    }
}


/******* Section Features *******/
/* Media MD */
@media screen and (min-width: 768px) {
    
    #features .col {
        flex-basis: calc(100% / 3);
    }

    #features .col:first-child {
        flex-basis: calc(100% / 3 * 2);
    }
}


/******* Section Strategic Plannings *******/
/* Media LG */
@media screen and (min-width: 992px) {
    
    #strategic-plannings .row {
        align-items: flex-end;
    }

    #strategic-plannings .col {
        flex-basis: 50%;
    }
}


/******* Section Testimonials *******/


/******* Section Benefits *******/
/* Media MD */
@media screen and (min-width: 768px) {
    
    #benefits .col {
        flex-basis: 50%;
    }
}