/******* Variables *******/
:root {
    --col-darkblue: #5c7182;
    --col-blue: #0084fd;
    --col-cyan: #b5ddff;
    --col-purple: #9792e4;
    --col-yellow: #fdc15f;
    --col-gray: #8d8d8d;
    --col-dark: #333333;

    --container-md: 760px;
    --container-lg: 984px;
    --header-height: 80px;
}


/******* Resets *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******* Generics *******/
body {
    font-family: 'PT Sans', sans-serif;
    padding-top: var(--header-height);
}

h3 {
    font-size: 22px;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 2rem;
    line-height: 1.8;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 3rem 0;
}


/******* Utils *******/
/* Misc */
.container {
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: var(--container-md);
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: var(--container-lg);
    }
}


.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}


.text-center {
    text-align: center;
}


/******* Layout *******/
/* Flex Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.row > * {
    padding: 0 1rem;
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {

    .col-md-33 {
        flex-basis: calc(100% / 3);
    }

    .col-md-50 {
        flex-basis: 50%;
    }

    .col-md-66 {
        flex-basis: calc(100% / 3 * 2);
    }
}

@media screen and (min-width: 992px) {

    .col-lg-33 {
        flex-basis: calc(100% / 3);
    }

    .col-lg-50 {
        flex-basis: 50%;
    }

    .col-lg-66 {
        flex-basis: calc(100% / 3 * 2);
    }
}


/* Flex */
.align-items-end {
    align-items: flex-end;
}


/* Margin */
.ml-2 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 0.6rem;
}


/******* Debug *******/
.db-border {
    border: 2px dashed #fff;
}

.db-blue {
    background-color: blue;
}

.db-red {
    background-color: red;
}

.db-yellow {
    background-color: rgb(130, 130, 15);
}

.db-gray {
    background-color: gray;
}

.db-cyan {
    background-color: cyan;
}

.db-black {
    background-color: black;
}

.db-h-md {
    min-height: 500px;
}

.db-h-sm {
    min-height: 200px;
}


/* ====================================== */
/******* Buttons *******/
.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    
    padding: 8px 16px;
    border-radius: 20px;
    color: #000;
    background-color: transparent;
}

.btn.btn-light {
    background-color: #fff;
}

.btn.btn-primary {
    color: #fff;
    background-color: var(--col-blue);
    font-weight: bold;
    letter-spacing: 4px;
    padding: 8px 40px;
}


/******* Card *******/
.card {
    color: var(--col-darkblue);
    background-color: var(--col-cyan);
    border-radius: 24px;
    padding: 2rem;
    height: 100%;
}

.card-icon {
    color: var(--col-blue);
    font-size: 84px;
    margin-bottom: 1rem;
}

.card-title {
    color: var(--col-blue);
}

.card-text {
    font-weight: bold;
}

.card .row {
    height: 100%;
}

.card-img {
    align-self: flex-end;
}

.card-img img {
    width: 250px;
    display: block;
}


/******* Header *******/
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    height: var(--header-height);
    background-color: var(--col-blue);
    box-shadow: 0 2px 6px rgba(0, 0, 255, 0.4);
}


/******* Navbar *******/
.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;

    color: #fff;
}

.navbar > * {
    display: flex;
    align-items: center;
}

/* Navbar Logo */
.navbar-logo img {
    height: 40px;
    display: block;
}

/* Navbar Menu | Navbar Actions */
.navbar-menu,
.navbar-actions {
    display: none;
}

/* Navbar Toggler */
.navbar-menu-toggler {
    font-size: 32px;
}

/* Media LG */
@media screen and (min-width: 992px) {
    /* Navbar Menu */
    .navbar-menu {
        align-self: stretch;
        display: flex;
    }

    .navbar-menu a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
    }
    
    /* Navbar Actions */
    .navbar-actions {
        display: flex;
    }

    /* Navbar Toggler */
    .navbar-menu-toggler {
        display: none;
    }
}


/******* Footer *******/
footer {
    padding: 3rem 0;
}


/******* Section Highlights *******/
#highlights .col-md-66:first-child .card {
    padding-bottom: 0;
}